<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dutySchedule">
      <h2 data-cy="dutyScheduleDetailsHeading"><span jhiTranslate="hrisGshApp.dutySchedule.detail.title">Duty Schedule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dutySchedule.id }}</span>
        </dd>
        <dt><span jhiTranslate="hrisGshApp.dutySchedule.dateTimeIn">Date Time In</span></dt>
        <dd>
          <span>{{ dutySchedule.dateTimeIn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hrisGshApp.dutySchedule.dateTimeOut">Date Time Out</span></dt>
        <dd>
          <span>{{ dutySchedule.dateTimeOut | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hrisGshApp.dutySchedule.employee">Employee</span></dt>
        <dd>
          <div *ngIf="dutySchedule.employee">
            <a [routerLink]="['/employee', dutySchedule.employee?.id, 'view']">{{ dutySchedule.employee?.employeeBiometricId }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/duty-schedule', dutySchedule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
