<div>
  <h2 id="page-heading" data-cy="EducationHeading">
    <span jhiTranslate="hrisGshApp.education.home.title">Educations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hrisGshApp.education.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-education"
        [routerLink]="['/education/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hrisGshApp.education.home.createLabel"> Create a new Education </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="educations?.length === 0">
    <span jhiTranslate="hrisGshApp.education.home.notFound">No educations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="educations && educations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bachelorDegree">
            <span jhiTranslate="hrisGshApp.education.bachelorDegree">Bachelor Degree</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="yearGraduated">
            <span jhiTranslate="hrisGshApp.education.yearGraduated">Year Graduated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="school">
            <span jhiTranslate="hrisGshApp.education.school">School</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employee.employeeBiometricId">
            <span jhiTranslate="hrisGshApp.education.employee">Employee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let education of educations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/education', education.id, 'view']">{{ education.id }}</a>
          </td>
          <td>{{ education.bachelorDegree }}</td>
          <td>{{ education.yearGraduated }}</td>
          <td>{{ education.school }}</td>
          <td>
            <div *ngIf="education.employee">
              <a [routerLink]="['/employee', education.employee?.id, 'view']">{{ education.employee?.employeeBiometricId }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/education', education.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/education', education.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(education)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="educations && educations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
