<div>
  <h2 id="page-heading" data-cy="LeaveHeading">
    <span jhiTranslate="hrisGshApp.leave.home.title">Leaves</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="hrisGshApp.leave.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-leave"
        [routerLink]="['/leave/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hrisGshApp.leave.home.createLabel"> Create a new Leave </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="leaves?.length === 0">
    <span jhiTranslate="hrisGshApp.leave.home.notFound">No leaves found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="leaves && leaves.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateApply">
            <span jhiTranslate="hrisGshApp.leave.dateApply">Date Apply</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateStart">
            <span jhiTranslate="hrisGshApp.leave.dateStart">Date Start</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateEnd">
            <span jhiTranslate="hrisGshApp.leave.dateEnd">Date End</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateReturn">
            <span jhiTranslate="hrisGshApp.leave.dateReturn">Date Return</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="checkupDate">
            <span jhiTranslate="hrisGshApp.leave.checkupDate">Checkup Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="convalescingPeriod">
            <span jhiTranslate="hrisGshApp.leave.convalescingPeriod">Convalescing Period</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="diagnosis">
            <span jhiTranslate="hrisGshApp.leave.diagnosis">Diagnosis</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employee.employeeBiometricId">
            <span jhiTranslate="hrisGshApp.leave.employee">Employee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="leaveType.name">
            <span jhiTranslate="hrisGshApp.leave.leaveType">Leave Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaves; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/leave', leave.id, 'view']">{{ leave.id }}</a>
          </td>
          <td>{{ leave.dateApply | formatMediumDate }}</td>
          <td>{{ leave.dateStart | formatMediumDate }}</td>
          <td>{{ leave.dateEnd | formatMediumDate }}</td>
          <td>{{ leave.dateReturn | formatMediumDate }}</td>
          <td>{{ leave.checkupDate | formatMediumDate }}</td>
          <td>{{ leave.convalescingPeriod }}</td>
          <td>{{ leave.diagnosis }}</td>
          <td>
            <div *ngIf="leave.employee">
              <a [routerLink]="['/employee', leave.employee?.id, 'view']">{{ leave.employee?.employeeBiometricId }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="leave.leaveType">
              <a [routerLink]="['/leave-type', leave.leaveType?.id, 'view']">{{ leave.leaveType?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/leave', leave.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/leave', leave.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(leave)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="leaves && leaves.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
